body{
  margin: 0;
  padding: 0;
  font-family: poppins;

}
.fix{
  clear: both;
  overflow: hidden;
}
header{
  overflow: hidden;
  height: 100vh;


}

.vid-bg
{
  position: absolute;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  height: inherit;
  width: inherit;
}
.nav-area{
  background: rgba(0, 0, 0, 0.5);

  height: 60px;
  position: absolute;;
  width: 100%;
  top: 0;

}
.logo{
  margin: 0 20px;
  height: 20px;
  float: left;
  color: #fff;
  font-size: 35px;
  text-transform: capitalize;
  font-weight: bold;
  letter-spacing: 2px;

}
.logo span{
  color: #f5bb00;

}
.menu-area{
  float: right;
  list-style:none;
  margin: 5px;

}
.menu-area li{
  display: inline-block;
  margin: 0 5px;
}
.menu-area li a{
  text-decoration: none;
  color: #fff;
  padding:  5px 10px;
  letter-spacing: 2px;
}
.menu-area li.active a{
  color:  #f5bb00;

}
.menu-area li a:hover{
color: #f5bb00;

}
.banner-text{
  position: fixed;
  top: 35%
  text-align:center;
  left: 25%
}
.banner-text h2{

  position: fixed;
  top: 35%;

  color: #fff;
  font-size: 80px;
  margin: 0;

}
.banner-text h2 span{
  color: #f5bb00;

}
.banner-text p{
  position: fixed;
  color: #f5bb00;
  font-size: 20px;
  text-align: center;
  top: auto;
}
.button{
  top: 60%;
  background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
.footer{
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  min-height: 0;
  width: 100%;
  text-align: center;
  font-weight: bold;
  font-family: cursive;
  bottom: 0;
  margin: 0;
  height: 30;
  float: left;
  color: #fff;
  font-size: 35px;
  text-transform: capitalize;
  font-weight: bold;
  letter-spacing: 2px
  min-height:auto;
  max-width :auto;
}
.footer button{
  background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
  font-family:
  button-border :rgba(0, 0, 0, 0.5);
 border: none;
 color: white;
 padding: 15px 32px;
 text-align: center;
 text-decoration: none;
 display: inline-block;
 font-size: 35px;
}
